[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
boto3 = "*"
mangum = "*"
nnabla = "*"
nbclient = "==0.6.6"
requests = "==2.23.0"
firebase-admin = "*"
google-cloud-firestore = "*"
protobuf = "==3.20"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
